@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Poppins", sans-serif;
}
.animation-delay-300 {
	animation-delay: 300ms;
}

.animation-delay-600 {
	animation-delay: 600ms;
}

.custom-scrollbar {
	scrollbar-width: thin; /* For Firefox */
	scrollbar-color: #b3c0d5 #ffffff; /* Thumb and Track Colors */
}

/* Custom Scrollbar for Chrome, Safari, Edge */
.custom-scrollbar::-webkit-scrollbar {
	width: 8px; /* Custom width */
	height: 8px; /* Custom height for horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: #cbd5e0; /* Track background */
	border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #4a5568; /* Thumb color */
	border-radius: 6px; /* Rounded thumb */
	border: 2px solid #cbd5e0; /* Thumb border */
}

/* Hide scrollbar arrow buttons */
.custom-scrollbar::-webkit-scrollbar-button {
	display: none; /* Completely removes the arrow buttons */
}
